<style>
  /* Estilos para o layout (navbar) */
  app-layout {
    height: 50px; /* Defina a altura desejada para a navbar */
    color: #fff; /* Cor do texto na navbar */
    padding: 10px; /* Espaçamento interno na navbar */
    /* Outros estilos conforme necessário */
  }

  /* Estilos para o conteúdo */
  .container-fluid {
    margin-top: 50px; /* Garante que o conteúdo não se sobreponha à navbar */
    /* Outros estilos conforme necessário */
  }
</style>

<app-layout></app-layout>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <router-outlet></router-outlet> 
    </div>
  </div>
</div>
