<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-xl-8 mx-auto">
            <div class="card" style="margin-left: 10px; background-color: #f8f9fa;">
                <h3 style="margin-left: 1%;">Tarefas de Hoje</h3>
                <div class="table-responsive">
                    <table class="table" *ngIf="hasTarefas">
                        <thead>
                            <tr>
                                <th class="align-middle">Titulo</th>
                                <th class="align-middle">Descrição</th>
                                <th class="align-middle">Data de vencimento</th>
                                <th class="align-middle">Status</th>
                                <th class="align-middle">Ação</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let tarefa of tarefas">
                                <td style="width: 15%; min-width: 5rem;" class="align-middle">{{ tarefa.titulo }}</td>
                                <td style="width: 35%; min-width: 8rem;" class="align-middle">{{ tarefa.descricao }}</td>
                                <td style="width: 20%; min-width: 8rem;" class="align-middle">{{ tarefa.dataVencimento | date:'dd/MM/yyyy' }}</td>
                                <td style="width: 15%;" class="align-middle">
                                    <span *ngIf="tarefa.status === 1" class="badge text-bg-warning">Pendente</span>
                                    <span *ngIf="tarefa.status === 2" class="badge text-bg-primary">Em Andamento</span>
                                    <span *ngIf="tarefa.status === 3" class="badge text-bg-success">Concluida</span>
                                </td>
                                <td style="width: 20%;" class="align-middle">
                                    <button mat-icon-button color="primary" (click)="mudarStatusTarefa(tarefa)">
                                        <mat-icon>beenhere</mat-icon>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div *ngIf="!hasTarefas" class="alert alert-warning" role="alert">
                        Nenhuma tarefa para hoje!
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
